<!DOCTYPE html>
<html>
  <head>
    <title>Metric/Imperial Converter</title>
    <meta name="description" content="An example of the Free Code Camp Metric/Imperial Converter Project">
    <link id="favicon" rel="icon" href="https://cdn.freecodecamp.org/universal/favicons/favicon-32x32.png" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./public/style.css">
  </head>
  <body>
    <header>
      <h1 id="title">Metric/Imperial Converter</h1>
    </header>
    <div id="converter">
      <div id='testui'>
        <form id="convertForm" class="border">
          <div id="blop">
            <input type="text" id="convertField" name="input" placeholder="3.1mi" style="width: 200px" class="form-control">
          </div>
          <div id="click">
            <input id="convert" type="submit" value='Convert!' class="btn btn-primary btn-lg">
          </div>
        </form>
        <p id='result'></p>
        <code id='jsonResult'></code>
      </div>
    </div>
    </section>
    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script>
      $(function() {
        $('#convertForm').submit(function(event) {
          event.preventDefault();
          $.ajax({
            url: '/api/convert',
            type: 'get',
            data: $('#convertForm').serialize(),
            success: function(data) {
              $('#result').text(data.string || data);
              $('#jsonResult').text(JSON.stringify(data));
            }
          });
        });
      });
   </script>
  </body>
</html>
